/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact,
#login_form {
	width: 50%;
margin: auto;
}
#contact,
#login_form 
 > * {
	text-align: center;

}
#contact h2,
#login_form h2{
	margin-bottom: 20px;
}
#contact form,
#login_form form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login_form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login_form label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Mes modifications */


#mode_edition {
	background-color: black;
	color: white;
	padding: 10px 0px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; 
	display: flex;
	justify-content: center;
}


#introduction img { 

	margin-left: 0px;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

#portfolio button { 
	color: #1D6154;
	background-color: white;
	border-radius: 20px;
	border-color:#1D6154 ;
	border-width: 1px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 15px;
	padding: 10px;
}

#portfolio button:hover {
	background-color:#1D6154 ;
	color: white ;
}

.travail { 
	display: flex;
	flex-direction: column-reverse;
}

#forgotten_password {
	font-weight: 500;
	font-size: 15px;
	text-decoration: underline;
}

.logout_hidden {
    display: none;
	cursor: pointer;
}

#login_form input {
	cursor: pointer;
}

#loginLink {
	cursor: pointer;
  }
  
#login_bold {
	font-weight: bold;
}

.projets {
    display: flex;
    justify-content: center;
}



/* Modale */


.fa-pen-to-square:before { 
	padding-right: 5px;
}


#js-modal {
    margin: 13px 10px;
	display: flex;
	flex-direction: row-reverse;
	color: black;
	text-decoration: none;
	font-weight: 600;
}


.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.20);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
	padding: 10px;
	border:none;
	background-color: white;
	cursor: pointer;
}

.fa-times:before { 
	font-size: 20px;
}


h3 {
	font-size: 22px;
	font-weight: 400;
	margin: 30px;
}


.modal-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
	width: 430px;
	padding: 20px 20px 20px 40px;
	background-color: white;
	border-radius: 10px;
	position: relative;
}

#travaux-modal1 { 
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding-bottom: 40px;
	margin-bottom: 30px;
	border-bottom: 2px solid lightgrey;
	width: 100%;
}

#travaux-modal1 article {
    position: relative;
}

#travaux-modal1 .fa-trash-can {
    position: absolute;
    top: 5px;
    right: 5px;
	font-size: 8px;
    border-radius: 3px;
    padding: 4px;
	background-color: black;
	color: white;
	cursor: pointer;
	
}
	
#travaux-modal1 img { 

	width: 75px;
	height: 100px;
	margin-bottom: 10px;
	
}

/* Modale 2 */


.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
	font-size: 20px;
    cursor: pointer;
	border: none;
    background-color: white;
}

#travaux-modal2 { 
	border-bottom: 2px solid lightgrey;
	width: 70%;
	margin-bottom: 20px;
}



.buttonAddPhoto{
	z-index: 1; 
	border: none;
	color: #306685;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 25px;
	background-color: rgb(199, 199, 199);
	cursor: pointer;
  }


  .fa-image:before {
	font-size: 60px;
	color: lightgrey;
}

  .preview-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
  
  .js-photo {
	display: none;
  }


#formPhoto {
	background-color: #E8F1F6;
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-bottom: 15px;	
}

#formPhoto img { 
	max-width: 40%;
    max-height: 100%;
}

#add-photo-button-form {
	background-color: lightgrey;
	color: rgb(74, 139, 180);
	border-radius:20px;
	padding: 5px 10px;
	margin-bottom: 5px;
	border: none;
	cursor: pointer;

}

#formPhoto p { 
	font-size: 9px;
	display: flex;
    justify-content: center;
	padding-bottom: 13px;
}

.file-label { 
	display: flex;
    flex-direction: column;
    align-items: center;
	padding-top: 10px;
}


#inputTitle { 
	padding: 5px;
	margin-bottom:  15px;
	width: 97%;
	height: 30px;
    font-size: 14px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: "Work Sans";
	margin: 15px 0px;
}

#categories { 
	padding: 6px;
	margin-bottom:  15px;
	width: 100%;
	height: 40px;
    font-size: 14px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: "Work Sans";
	margin: 10px 0px 30px 0px;
}


#button_ajouter_photo {
	color: white;
	background-color:#1D6154;
	border-radius: 20px;
	border-color:#1D6154 ;
	border-width: 1px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 12px;
	padding: 10px 25px;
	display: flex;
	margin-bottom: 20px;
	border: none;
	cursor: pointer;
}
#submitButton { 
	color: white;
	background-color:grey;
	border-radius: 20px;
	border-color:none;
	border-width: 1px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 12px;
	padding: 10px 25px;
	display: flex;
	margin-bottom: 20px;
	border: none;
	
}

#submitButton:not([disabled]) {
    cursor: pointer;
}



